<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" />
        <title>Cities</title>
        <link href="/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    </head>
    <body class="m-1 p-1">
        <environment names="development">
            <div class="m-1 p-1 bg-info"><h2>This is development</h2></div>
        </environment>
        <environment names="production">
            <div class="m-1 p-1 bg-danger"><h2>This is production</h2></div>
        </environment>
        <div>@RenderBody()</div>
    </body>
</html>